* {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* slider_area start */
.carousel {
  position: relative;
  top: -17px;
 
}
.carousel-control-prev i{
  font-size: 70px;
  color: red;
  font-weight: 700;
  margin-top: 70px;
}
.carousel-control-next i {
  font-size: 70px;
  color: red;
  font-weight: 700;
  margin-top: 70px;
}
.carousel-indicators [data-bs-target]{
  background-color: red
}

/*slider_area end */

/* <!-- start survice menu --> */

.survice-menu ul{
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  justify-content: center;
}
.survice-menu ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 5px 40px;
  border-top: none;
  border-bottom: none;
}

.survice-menu ul li a {
  border-right: none;
}

.survice-menu  li:first-child a {
  border: none;
}

.active, .survice-menu ul li a:hover{
  color: red;
  background: rebeccapurple;
}

.survice-details{
  display: flex;
  overflow: hidden;
}
.survice-text{
  padding-right: 15px;
}



.survice-details img {
  width: 30%;
  height: 30%;
  margin: 100px 5px;
  transition: all 0.5s;
}

.survice-details img:hover{
  transform: scale(1.2);
}
.survice-details .survice-text{
  text-align: justify;
}
.survice-text h3 {
  text-align: initial;
}
.survice-content h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


/* <!-- end survice menu --> */

